*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}

.logo{
    width: 230px;
}


.size{
    height: 100vh;
}

.home{
    background-image: url(img/img_2.jpg);
}   

.missions{
    background-image: url(img/Imagen_1.jpg);    
}




.formulario{
   
    background-color: rgba(0, 0, 0, 0.185);
}

.contact{
    color: aliceblue;
    background-image: url(img/spacex-Ptd-iTdrCJM-unsplash.jpg);
}

.overflow-scroll{
    height: 70vh;
    overflow-y: scroll;
}

.overflow-scroll::-webkit-scrollbar{
    display: none;
}

#cards-missions{
    color: white;

}


